@{
  Layout = "_Layout";
}

@model Menu.Models.Size

<h2>Edit</h2>

<h4>Edit this Size: @Html.DisplayFor(model => model.SizeName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SizeId)

  @Html.LabelFor(model => model.SizeName)
  @Html.EditorFor(model => model.SizeName)

  <input type="submit" value="Save" class="button-55" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>