@{
  Layout = "_Layout";
}

@model List<Menu.Models.MenuItem>;
@using Menu.Models;

<h2>Add a new Order</h2>
<hr />
<ul>
    @foreach(MenuItem menuItem in Model)
    {
    <li>@Html.ActionLink($"{menuItem.Name}", "Details", new { id = menuItem.MenuItemId }) | 
    @Html.ActionLink($"{menuItem.Description}", "Details", new { id = menuItem.MenuItemId }) ||
    @Html.Label("Select size") @Html.DropDownList("SizeId") | <input type="submit" value="Add new menu item" class="cool" /></li>
    } </ul>

<p>@Html.ActionLink("Show all items", "Index")</p>