@{
  Layout = "_Layout";
}

@model Menu.Models.Order

<h1>Create Order</h1>

@using (Html.BeginForm())
{
<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.MenuItem.Name | @Html.Label("Select size") @Html.DropDownList("SizeId") | <input type="submit" value="Add to Order" class="cool" /></li>
  }
</ul>
}

<p>@Html.ActionLink("View Orders", "Details")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>